# Absolute paths to local repositories (use forward slashes on Windows)
LOTUS_MANAGE_REPO_PATH=c:/Users/Sandeep/projects/lotus-manage
LOTUS_CORE_REPO_PATH=c:/Users/Sandeep/projects/lotus-core
LOTUS_PERFORMANCE_REPO_PATH=c:/Users/Sandeep/projects/lotus-performance
LOTUS_REPORT_REPO_PATH=c:/Users/Sandeep/projects/lotus-report
BFF_REPO_PATH=c:/Users/Sandeep/projects/lotus-gateway
UI_REPO_PATH=c:/Users/Sandeep/projects/lotus-workbench

# Host ports
DEV_INGRESS_HTTP_PORT=80
LOTUS_MANAGE_PORT=8000
LOTUS_CORE_INGESTION_PORT=8200
LOTUS_CORE_QUERY_PORT=8201
LOTUS_PERFORMANCE_PORT=8002
LOTUS_REPORT_PORT=8300
BFF_PORT=8100
UI_PORT=3000
PROMETHEUS_PORT=9190
GRAFANA_PORT=3300
OTEL_GRPC_PORT=4317
OTEL_HTTP_PORT=4318

# lotus-core database
LOTUS_CORE_POSTGRES_DB=portfolio_db
LOTUS_CORE_POSTGRES_USER=user
LOTUS_CORE_POSTGRES_PASSWORD=password
